<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>" class="<%= html_classes %>">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <meta name="description" content="<%= @description_meta || SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>
    <%= render partial: "common/special_font_face" %>
    <%= render partial: "common/discourse_stylesheet" %>
    <%= render_google_universal_analytics_code %>
    <%= script "ember_jquery" %>

    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

